*,
html,
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cambria, cochin, georgia, times, "Times New Roman", serif;
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper{
width: 360px;
  height: 262px;
  background-color:white ;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding-top: 25px;
  cursor: pointer;
  justify-content: space-between;
  padding-bottom: 15px;
}

.content{
 margin: 8px;
}

.row{

}

button{
  justify-content: center;
  align-items: center;
  border: none;
  background-color: lightseagreen;
  font-size: 24px;
  padding: 16px;
  margin-left: 10px;
  height: 65px;
  color: #eaeaea;
  font-weight: 600;
  margin-top: 10px;
}

button:hover{
  cursor: pointer;
  background-color: #333333;
  transition: 0.5s all ease-in-out;
}

input{
  border: none;
  background-color:#eaeaea;
  color: #222222;
  padding: 16px;
  font-size: 24px;
  margin-top: 10px;
}

#pertanyaan{
  font-size: 1.6em;
  font-weight: 500;
}

#loaders{
  display: none;
  width: 85px;
  height: 85px;
  position: absolute;
  border-top: 15px solid lightseagreen;
  border-radius: 50%;
  top: 40%;
  left: 40%;
  z-index: 9;
  animation: 1s spin infinite linear;
}

@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}